* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #000428, #004e92);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
.coba{
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header{
    font-size: 1.5rem;
}
#clock {
    position: absolute;
    top: 10rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form, ul {
    position: relative;
}
form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #0045ff;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
}
form button:hover{
    background: #0045ff;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn{
    background: #0045ff;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.trash-btn:hover{
    background: white;
    color:#0045ff;
}

.complete-btn {
    background: #11998e;
}
.complete-btn:hover {
    background:white;
    color:#11998e;
}

.todo-item{
    padding: 0rem 0.5rem;
}
.fa-trash, .fa.check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
}

select {
    color: #0045ff;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #0045ff;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #0045ff;
}
